<form action='/profiles' method='post'>

  <label>First Name: <input id='first_name' name='first_name' type='text' /></label>
  <label>Last Name:  <input id='last_name'  name='last_name'  type='text' /></label>
  <label>Email:      <input id='email'      name='email'      type='text' /></label>

  <input value='Create Profile' type='submit' />
</form>
